body {
    font-family: 'Montserrat', sans-serif;;
    background-color: #F0F0F0;
}

.home {
}

.home__wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.home__wrapper > main {
}

.home__container {
    padding: 30px 15px;
}

.home__homework {
}

.homework {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(198, 225, 241); */
    background-color: #42b983;
    border-radius: 1%;
    min-width: 100%;
    position: relative;
}

.homework__header {
   
}

.homework__header img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30px;
    left: 50px;
}

@media screen and (max-width: 950px) {
    .homework__header img {
        top: 70px;
        left: 30px;
    }
}

@media screen and (max-width:650px) {
    .homework__header img {
        display: none;
    }
}

.homework__title {
    color: #fff;
    text-align: center;
    font-weight: 400;
    padding: 0 15px;
}
.homework__title-vue {
    padding-right: 2px;
    color: #3061a7;
    font-weight: 600;
}

.homework__title-js {
    color: #cb2727;
    padding-left: 2px;
}

.homework__author {
    text-decoration: underline;
    text-align: center;
    color: #ffffff;
}

.homework__tasks, .add-task__item {
    padding: 20px 0;
    font-weight: 700;
}

.task {

}

.task__item {
    padding: 20px 0;
    font-weight: 700;
}

.task__item a {
    text-decoration: none;
    transition: all 0.4s;
}

.task__item a:hover {
    color: #F0F0F0;
}

.task__item a, .add-task a {
    color: #273849;

}

.homework__additional-tasks h2 {
    color: #ffffff;
    text-decoration: underline;
    margin-bottom: 0px;
}

.homework__add-tasks {
    padding: 20px 0;
    font-weight: 700;
}


.add-task {
    padding-top: 0px;
}

.add-task__item a {
    text-decoration: none;
    transition: all 0.4s;
}

.add-task__item a:hover {
    color: #cb2727;
}

.active {}

.active::before {
    content: '+';
    color: red;
}